body {
    background-color: darkgrey;
}
.main {
    margin: auto;
}
.formula {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    align-items: center;
    background-color: gray;
    border: solid 4px rgb(58, 53, 53);
    border-radius: 15%;
}
h1 {
    color: rgb(35, 32, 32);
}

a:link {
    color: rgba(38, 38, 63, 0.67);
}

a:visited {
    color: rgba(116, 30, 196, 0.45);
}
.form_item {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: 1000;
}
.form_label {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
    font-weight: 800;
}
.formula textarea {
    min-height: 100px;
    resize: vertical;
}
.formula input,
textarea {
    border: 2px solid rgba(0, 0, 0, 0.767);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
.btn {
    width: 200px;
}
.form_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: rgba(45, 173, 45, 0.432);
    color: beige;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 0 black;
}
